<template data-controller-name="valoremapp.ValoremAppHTML.controller.login">
    <div id="app" data-sap-ui-type="sap.m.App" data-showHeader="false">
        <div id="page" data-sap-ui-type="sap.m.Page" data-showHeader="false">
            <div data-sap-ui-aggregation="content">
                <div class="container" style="margin-top: 2%;">
                    <div class="row">
                        <div class="col d-flex justify-content-center" style="height:430px;" >
                            <img src="./img/analitica_grande.png" alt="computer icon"
                                style=" width:500px;height:400px; margin-bottom:80px;" >
                        </div>
                        <div class="col" style="padding-bottom:0px">
                            <h2 style="font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;">PORTAL DE
                                SERVICIOS</h2>
                            <div style="margin-top:20px;">
                                <form>
                                    <input type="text" class="email" id="txtusuario" placeholder="Usuario">
                                    <br />
                                    <input type="password" id="txtpass" class="pwd" placeholder="Contraseña">
                                </form>
                            </div>
                            <div class="container d-flex justify-content-end m-4">
                                <div class="hero-button text-center">
                                    <a class="btn btn-primary btn-sm" style="margin: 6px;" id="btnRegistrar">
                                        <i class="icon-apple icon-3x pull-left"></i>
                                        <span style="font-size:small;">Iniciar sesión</span>
                                    </a>
                                </div>
                                <div class="hero-button text-center">
                                    <a class="btn btn-primary btn-sm" style="margin: 6px;" id="btnCambiarClave">
                                        <i class="icon-apple icon-3x pull-left"></i>
                                        <span style="font-size:small;">Cambiar contraseña</span>
                                    </a>
                                </div>
                                <div class="hero-button text-center">
                                    <a class="btn btn-primary btn-sm" style="margin: 6px;" id="btnUnlockUser">
                                        <i class="icon-apple icon-3x pull-left"></i>
                                        <span style="font-size:small;">Desbloquear Usuario</span>
                                    </a>
                                </div>

                                <!-- <button type="button"  style="margin: 10px;"id="btnRegistrar" class="btn btn-primary btn-sm">Iniciar sesión</button>
                                <button type="button" style="margin: 10px;" id="btnCambiarClave" class="btn btn-primary btn-sm">Cambiar contraseña</button>
                                <button type="button" style="margin: 10px;" id="btnUnlockUser" class="btn btn-primary btn-sm">Desbloquear Usuario</button> -->
                            </div>
                        </div>
                        <!-- <div class="container">

                        <div class="column right">
                            <br />
                            <div style="margin-left: 60%;">
                                <div class="wide-button">
                                    <button class="unlock" id="btnUnlockUser" style="border-right: solid;">
                                        <span>Desbloquear Usuario</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                        <div class="row">
                            <img src="./img/carrousel2.png" alt="computer icon"
                                style=" width:100%; height:100px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>