<template data-controller-name="valoremapp.ValoremAppHTML.controller.UnlockUser">
    <div data-sap-ui-type="sap.m.App">
        <div data-sap-ui-type="sap.m.Page" id="page3" data-title="">
            <div data-sap-ui-aggregation="content">
                <div class="container container-row">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <img src="./img/analitica_grande.png" alt="computer icon"
                                style=" width:500px;height:400px; margin-bottom:80px">
                        </div>
                        <div class="col" style="">
                            <h2 style="font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;">PORTAL DE
                                SERVICIOS</h2>
                            <div class="container d-flex justify-content-center">
                                <div class="form-check form-check-reverse">
                                    <input class="form-check-input" type="radio" name="flexRadioDefaultUnlock"
                                        id="oRTenantValoremUnlock" checked>
                                    <label class="form-check-label" for="oRTenantValoremUnlock">
                                        TENANT VALOREM
                                    </label>
                                </div>
                                <div class="form-check form-check-reverse" style="margin-left:20px;">
                                    <input class="form-check-input" type="radio" name="flexRadioDefaultUnlock"
                                        id="oRTenantKobaUnlock">
                                    <label class="form-check-label" for="oRTenantKobaUnlock">
                                        TENANT KOBA
                                    </label>
                                </div>
                            </div>
                            <div style="margin-top:20px;">
                                <form>
                                    <input type="text" id="Utxtuser" class="email" placeholder="Usuario">
                                    <br />
                                    <input type="text" id="Utxtemail" class="email" placeholder="Email">
                                    <br />
                                </form>
                            </div>
                            <div class="container d-flex justify-content-end">
                                <div class="hero-button text-center">
                                    <a class="btn btn-primary btn-sm" style="margin: 6px;" id="Ubtnvolver">
                                        <i class="icon-apple icon-3x pull-left"></i>
                                        <span style="font-size:small;">Volver</span>
                                    </a>
                                </div>
                                <div class="hero-button text-center">
                                    <a class="btn btn-primary btn-sm" id="btnUnlock" style="margin: 6px;">
                                        <i class="icon-apple icon-3x pull-left"></i>
                                        <span style="font-size:small;">Desbloquear usuario</span>
                                    </a>
                                </div>
                            </div>
                            <!-- <div style="margin-left: 60%;">
                                <div class="wide-button">
                                    <button class="register" id="btnvolver" style="border-right: solid;   margin-left: auto;
    margin-right: auto;">
                                        <span>Volver</span>
                                    </button>
                                    <button class="register" id="btncambiarpass" style="border-right: solid;   margin-left: auto;
    margin-right: auto;">
                                        <span>Cambiar Contraseña</span>
                                    </button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>